@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    color: #fff;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.big-text {
    font-size: 6rem;
    line-height: 2;
    padding: 0 2rem;
    font-weight: bold;
}

.element-container {
    text-align: center;
}

.element-container span {
    font-weight: 300;
    font-size: 1.1rem;
}